.them{
    display: flex;
    justify-content: space-between;
}
a{
    color: #fff;
}
a.tw{
    background: url(../icons/b.png) no-repeat center;
    background-size: 80%;
}
a.fb{
    background: url(../icons/b.png) no-repeat center;
    background-size: 80%;
}
.social a{
    text-indent: -10000px;
    margin:  0 auto;
}
.social{
    max-width: 80px;
    margin:  0 auto;
}
nav{
    background-color: #333;
}
nav a{
    display: block;
    padding: 10px;
    text-align: center;
}
nav li a:hover{
    background-color: #555;
}
/* flex styles */
nav ul.social{
    flex: 1 1 0;
    display: flex;
}
nav ul.social li{
    flex: 1 1 0;
}
/*
@media screen and (min-width:768px) {
    */
@media screen and (min-width:600px) {
    nav ul {
        display: flex;
    }
    nav ul li {
        /* flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0; */
        flex: 1 1 0;
    }
    nav {
        display: flex;
        justify-content: space-between;
    }
    nav ul.social {
        margin: 0;
    }
}